@import "../../../global.scss";

.Navbar2{
    @media (min-width: $tablet) {
        display: none;
    }
    .Navbar2Container{
    height: 30px;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    }
    a{
        text-decoration: none;
        color: white;
        margin: 0 15px;
    }
}